body {
	padding: 0;
	margin:0;
	width:100%;
	background-color: #000;
}
span {
	padding: 0;
	margin:0 auto;
	color:red;
	text-align:center;
	display: block;
}
h1 {
	padding: 0;
	margin:0;
	font-size:20px;
}
h2 {
	padding:15px;
	margin:-10px -40px;
	background-color:#ddd;
	text-align:center;
	border-radius:8px 8px 0 0;
	border-bottom: 1px solid #ccc;
}
h3 {
	padding: 0;
	margin: 20px 0 0;
	text-align:left;
	color: #777;
	
}
form {
	padding-top: 20px;
}
#login {
	padding:10px 40px 25px;
	margin:auto;
	margin-top: 70px;
	width:300px;
	border-radius:10px;
	font-family:helvetica;
	border:2px solid #ccc;
	background-color:#eee;
}
input[type=text],input[type=password] {
	padding:10px;
	margin-top:8px;
	padding-left:5px;
	width:100%;
	border:1px solid #ccc;
	font-size:16px;
	font-family:raleway;
	box-sizing: border-box;
}
input[type=submit] {
	width:100%;
	background-color:#FFBC00;
	color:#fff;
	border:2px solid #FFCB00;
	padding:10px;
	font-size:20px;
	cursor:pointer;
	border-radius:5px;
	margin:25px 0 15px;
}
input[type=submit]:hover {
	background-color:#FFCD00;
		border:2px solid #FFED00;
}